.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-image: url("https://th.bing.com/th/id/R.dc1002f23b0baa2866f8f94ea67f5a39?rik=roKOHHM648KD8A&riu=http%3a%2f%2f4.bp.blogspot.com%2f-LOLxoKx3UxE%2fT1RlrAdIcGI%2fAAAAAAAAAco%2fAGvHQ0yO_dY%2fs1600%2fsky-003.jpg&ehk=aOqc8GKObwLg0uyvh4rn0CuRdW1zPO1bJrqdUiVXyrg%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  border-bottom: 2px solid #69696c;
  position: relative;
}
.kontakt-main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 60px;
}

.kontakt-main {
  font-size: 26px;
  flex: 1;
  height: 500px;
  max-width: 800px;
  padding: 30px;
  background-color: #e7e7e7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sotsiaal-icon {
  width: 60px;
  height: 60px;
}

.sotsiaal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.map-frame {
  width: 100%;
  height: 300px;
  border: 0;
}
