.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.item-box {
  width: 15rem;
  height: 15rem;
  box-shadow: 5px 10px 10px;
  background-color: antiquewhite;
}

.item-box img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
