.main {
  padding-top: 200px;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.item-box {
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  box-shadow: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
  box-sizing: border-box;

  background: none;
}

.item-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.price-tag {
  align-self: flex-end;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}
